

<nav ng-if="userinfo.login==true" class="navbar navbar-inverse navbar-fixed-bottom custom-navbar" role="navigation">
    <div class="container">
        
          <!-- Non-collapsing right-side icons -->
                  <!-- Non-collapsing right-side icons -->
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/" class="fa fa-home"></a>
            </li>
            <li><a href="#/help/about" class="fa fa-question-circle"></a>
            </li>
           
           <li>
             <a href="/logout" class="fa fa-sign-out"></a>
           </li>
        </ul>


   
    </div>
    <!-- /.container -->
</nav>


