
    <div class="container"  >

        <!-- HEADER AND TODO COUNT -->
        <div ng-if="assets.length>0" class=" text-center">
            <h1>Where is your stuff</h1>
        </div>
        <div ng-if="assets.length==0" class=" text-center">
            <h1>I don't have any asset for you. You may start adding one.</h1>
        </div>

        <!-- TODO LIST -->
        <div id="todo-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div class="checkbox" ng-repeat="asset in assets">
                    <label>
                        {{asset.object}} is in {{asset.location}}
                    </label>
                </div>

            </div>
        </div>



    </div>

