<div class="container">

                <div class="row well">
                    <div class="col-lg-8 col-md-8">
                        
                        <p>My vocabulary is limited but i'm learning fast ...</p>
                        <p>Here are some facts i can understand and questions i can answer :</p>
                        <p>have to paint the house</p>
                        <p>show me what i have to do</p>
                        <p>give me my task list</p>
                        <p>Brian is in the kitchen</p>
                        <p>create group home</p>
                        <p>invite bob to join group home</p>
                        <p>remind me to call Brian</p>
                        <p>where is Brian</p>

                    </div>
                    
                </div>

</div>
<!-- /.container -->