



<!-- /.section -->


    <div class="section-colored text-center">

        <div class="container">

            <div class="row">
               
                    <h2>Automate tedious tasks with Goldobot</h2>
                    <p>Simply converse with him. He can help you getting things done ...</p>
                    <hr>
                
            </div>
            <!-- /.row -->

           <div class="row">
        <!-- LOGIN FORM -->
                <form action="/signup" class="navbar-form"  method="post">
                    <div class="form-group">
                        
                        <input type="text" placeholder="Email" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                       
                        <input type="password"  placeholder="Password" class="form-control" name="password">
                    </div>

                    <button type="submit" class="btn btn-primary">Confirm</button>
                </form>
            </div>

  
        <!-- /.container -->

        </div>
 
</div>
    <!-- /.section-colored -->

    <div class="section">

        <div class="container">

            <div class="row">
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4>What Goldobot can do for you : </h4>
                    <ul>
                        <li>Manage your reminders and todo list</li>
                        <li>Send tasks to members of your different groups</li>
                        <li>Send a task when another one is done</li>
                        <li>... and many more to come</li>
                        
                    </ul>
                </div>
 
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>


<!-- /.section -->






